.patient-prescription-detail-wrapper {
  .patient-context-header {
    padding: 16px 24px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
    
    button {
      mat-icon {
        margin-right: 8px;
      }
    }
  }
}